@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@600&display=swap');

img {
    max-width: 100%;
    max-height: auto;
}

.header {
    overflow: hidden;
    background-color: #91adc2 !important;
    padding: 20px 10px;
    font-family: "Poppins";
    position: sticky;
    top: 0;
    opacity: 1;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header title {
    font-size: 35px;
    font-weight: bold;
}

.header a:hover {
    color: white;
    background-color: #79b473;
}

.header a:active {
    text-decoration: underline;
}

.header-right {
    float: right;
}

.frontpage {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.key-terms {
    align-items: center;
    display: flex;
}

.key-content {
    align-items: center;
    font-size: 14px;
    font-family: "Merriweather";
    color: black;
    padding: 2%;
}

.foot {
    position: static;
    background-color: #79b473;
    color: white;
    font-family: "Merriweather";
    font-size: 14px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    align-items: center;
    padding: 5px;
}